@import './partials-scss/utils/variables';
@import './partials-scss/utils/extend';
@import './partials-scss/utils/mixins';
@import './partials-scss/layout/header';
@import './partials-scss/pages/index';

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ESTILO DE PAGINA "ARTICULOS" */
/* Estilos del body */
.body-art {
    background: linear-gradient(to right, rgb(11, 12, 31), rgb(4, 3, 22));
    background-size: cover;
    width: 100%;
    height: 100vh; /* Utiliza 100vh para el viewport height */
    margin: 0;
    padding: 0;
}

/* Estilos del header */
.header-art {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    height: 10vh; /* Altura del header */
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    background:linear-gradient(to right, rgb(55, 0, 105),rgb(130, 0, 72));
    box-shadow: 0 0 5px rgb(147, 0, 220);
    top: 0;
    left: 0; /* Asegura que el header esté alineado a la izquierda */
}
.navbar{
    height: 10vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-primaria{
    background-color:transparent;
}
.bg-second{
    color:#ffffff;
}
.buton-nav{
    border: 1px solid rgb(34, 2, 49);
    box-shadow: 0 0 10px rgb(20, 164, 242);
}
.buton-nav:hover{
    background-color: #e0e0e0;
    border: 1px solid rgb(0, 4, 239);
    box-shadow: 0 0 10px rgb(8, 0, 255);
}
.buton-lat{
    backdrop-filter:blur(5px);
    background-color: transparent;
    color: #ffffff;
}
.div-lat a{
    color:#9700b5;
}
.div-lat a:visited{
    color:#760064;
}
.div-lat a:hover{
    color:rgb(251, 120, 181);
}
.menu-lat a{
    color:rgb(0, 0, 0);
}
.menu-lat a:hover{
    color:#f977db;
}
/* Estilo del contenedor principal */
.main-art {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh; /* Utiliza 100vh para el viewport height */
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
    box-sizing: border-box;
    padding-top: 11vh; /* Ajusta el padding-top para compensar la altura del header */
}

/* Medios de comunicación para pantallas más pequeñas */
@media (max-width: 768px) {
    .sub-art {
        font-size: 1.5rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
        left: 0;
        transform: none; /* Elimina el centrado horizontal cuando hay poco espacio */
    }

    .ul {
        flex-direction: column; /* Coloca los enlaces en columna en lugar de fila */
        gap: 10px;
    }

    .link {
        height: auto; /* Ajusta la altura de los enlaces para que se adapten a pantallas más pequeñas */
    }

    .link-in a {
        font-size: 16px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }

    .header-art {
        height: 11vh; /* Ajusta la altura del header en pantallas más pequeñas */
    }

    .main-art {
        padding-top: 15vh; /* Ajusta el padding-top en función del nuevo tamaño del header */
        height: 180vh;
    }
    .footer-art{
        margin: 0;
    }
}

/* Estilo del contenedor principal */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo del contenedor de contenido */
.flex-contenido {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo de los artículos */
.art-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px); /* Ajuste para el espacio del gap */
    min-width: 200px; /* Tamaño mínimo para mantener la legibilidad */
    height: auto; /* Ajuste automático de la altura */
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño total */
    transition: border 0.3s ease;
    padding: 10px; /* Añadido relleno para evitar el desbordamiento del contenido */
    overflow: hidden; /* Previene el desbordamiento del contenido */
}

.art-b:hover {
    border: 1px solid rgb(0, 80, 94);
    box-shadow: 0 0 20px rgb(0, 255, 242);
}

/* Estilo de las imágenes en los artículos */
.img-art {
    width: 90%;
    height: auto; /* Ajusta la altura proporcionalmente */
    max-width: 100%; /* Evita que la imagen se expanda más allá del contenedor */
}

/* Estilo de los enlaces en los artículos */
.href-main {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    border: 2px solid black;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.href-main:hover {
    background: linear-gradient(rgb(64, 1, 1), rgb(139, 3, 3));
    color: #ffffff;
    border: 1px solid rgb(215, 0, 0);
    box-shadow: 0 0 9px red;
}

/* Estilo de los encabezados h3 en los divs */
.sub-main {
    font-family: Arial, sans-serif;
    font-size: 1.125rem; /* Tamaño relativo para mejor adaptabilidad */
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

/* Estilo de los párrafos dentro de los artículos */
.art-b p {
    font-family: Arial, sans-serif;
    border-top: 2px solid black;
    text-align: left;
    margin: 0; /* Asegura que el párrafo no tenga margen extra que cause desbordamiento */
    overflow-wrap: break-word; /* Asegura que el texto se ajuste dentro del contenedor */
    width: 100%; /* Hace que el párrafo ocupe el ancho completo del contenedor */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño total */
}


/* Estilos del footer */
.footer-art{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-divart{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-art h3{
    font-size: 1rem;
    font-family: arial;
    color:white;
    padding-top: 20px 5px;
}
.footer-art img{
max-width: 50%;
width: 200px;
height: 200px;
border: 2px solid black;
border-radius: 5px;

}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ESTILO DE PAGINA SOBRE NOSOTROS */
/* Estilo del fondo del body */
.tablas {
    background-image: url("../Imagenes/sobre-nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0;
}

/* Estilo de titulo */
.title_table{
    text-align: center;
    color: rgb(255, 251, 251);
    font-size: 30px;
    border-bottom:3px solid rgb(78, 78, 78);
    margin: 0;
    letter-spacing: 2px;
    font-family: "Bebas Neue";
    background:rgba(0, 0, 0, 0.426);
}
/* Estilo del div */
.main-tb{
    text-align:center; /*alineacion del parrafo*/
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    margin: 0;
    color:rgb(243, 239, 239);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.343);
    padding:0;
}
.div-sb{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    background-color: #00000074;
    margin:0;
}
.span-tb a{
    font-weight: bold;
    color: rgb(246, 2, 2);
    text-decoration: none;
}
.span-tb a:hover{
    border: 1px solid rgb(152, 0, 0);
    box-shadow:0 0 8px rgb(255, 26, 26);
    border-radius: 4px;
    background-color: #be0202;
    color:#ffffff;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BIOGRAFIAS */
/* Estilo del body */
.html-bi{
    margin:0;
    padding: 0;
}
.body-bi{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background:linear-gradient(to right, rgb(8, 0, 0), rgb(64, 0, 0))
}
/* Estilo del header */
.header-bi{
    background:linear-gradient(rgb(116, 0, 0),rgb(3, 1, 1));
    width: 100%;
    height: 10vh;
    position: fixed;
    top:0;
    z-index: 1000;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.bio-ti{
    font-family:"Bebas Neue",arial;
    font-size: 2rem;
    color: #f5f6f7;
}
/* estilos links del navbar */
.bg-navarbio a:hover{
color:#fb02ff;
}
.bg-navarbio a{
color:#ffffff;
}

/* Estilo del boton */
.btn-bi{
    border: 2px solid white;
}
/* Estilos del main */
.section-bi{
    padding: 10px;
}
.cont-bi{
margin: 11vh;
}
/* Estilo del subtitulo principal*/
.div-mainbi h2{
    color:#f5f6f7;
    font-family: "Bungee Tint", sans-serif;
}

/* Estilos de los div que tienen los articulos */
.articulos-bio{
    background-color: #e0e0e0;
    border: 2px solid black;
    transition:all 0.2s ease-in;
    padding: 10px;
    box-sizing: border-box;
    font-family: "sans-serif",arial;
    font-weight: bold;
}
.articulos-bio:hover{
background-color: #47023d;
color: #ffffff;
}
/* estilos boton de leer */
.buton-bi{
border:2px solid rgb(0, 0, 42);
box-shadow: 0 0 10px rgb(0, 0, 116);
border-radius: 10px;
}
.a-button{
    color:#070707;
}
.buton-bi:active{
    color:rgb(252, 248, 255);
    background-color: #47023d;
    box-shadow: 0 0 10px rgb(65, 0, 71);
    border: 2px solid rgb(250, 32, 210);
}
@media screen and (max-width:730px){
    .contenedor-bio{
        gap:10px;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ESTILOS DE PORTFOLIO */
.bd-portafolios,.bg-primario{
    background-color: #fff;
}
/* Estilos de barra de navegacion */
.bg-primario{
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-link:hover{
    color:#4c0450;
    font-weight: bold;
}
/* Estilos generales de las secciones */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Estilo del titulo portfolio */
.hero-titulo{
    font-size: 2.5rem;
    font-family: "Rubik Dirt"
}
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
/* estilo del div contenido en section hero */
.hero-principal{
    padding: 3rem;

}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}
/* estilo imagen del div */
.hero-imagen{
    width: 200px;
    height: 200px;
    margin: 20px;
}
/* estilo del segundo div de section hero */
.hero-inferior-imagen{
    width: 100px;
    height: 100px;
}
/* estilo de seccion sobre mi */
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
.seccion-oscura{
    background-color: #02021f;
    color:white;
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt',cursive;
}
.seccion-texto{
    font-size: 1.2rem;
}
/* experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin:10px 0;
}
.seccion-clara{
    color:black;
    background-color: #fff;
}
.experiencia i{
    font-size: 2.5rem;
    color:#7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contendeor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.experiencia .columna{
    display: flex;
    padding: 20px;
    border: 2px solid #8080804d;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition:all 0.2s ease-in;
}
.experiencia .columna:hover{
    color:white;
    background-color: #1b1b32;
}
/* proyectos */
.proyectos-recientes{
    padding: 40px;
}
/* estilo imagenes proyecto */
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display:block;
    transition:all 0.2s ease;
}
/* estilo contenedor de proyectos */
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
.texto-negro{
    color:black;
}
.texto-blanco{
    color:white;
}
.btn-info{
    font-size: 1.1rem;
    margin: 20px;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color:#584e4e;
}
.overlay{
    transition: all 0.2s ease;
    opacity:0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
/* estilos de iconos  */
.overlay .iconos-contendor{
    display: flex;
}
.overlay i{
    color:black;
    font-size: 60px;
    margin: 10px;
}
.proyecto{
    position: relative;
}
/* estilo del overlay cuando pasamos mouse por encima */
.proyecto:hover .overlay{
    opacity:1;
}
/* estilo de la imagen al pasar el mouse cambia su opacidad */
.proyecto:hover img{
    opacity:0.2
}
/* estilos articulos */
.articulos{
    min-height: 500px;
    padding: 30px;

}
.articulos .card{
    width: 80%;
    max-width: 800px;
    margin: 20px;
}
.card-header{
    font-weight: bold;
}

/* Media querys para hacerlo responsivo y cambiar estilos segun pantalla */
@media screen and (max-width:400px){
.overlay p{
    font-size: 18px;
}
.overlay i{
    font-size: 40px;
}
}
@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }
}
@media screen and (min-width:700px){
    .hero-inferior-imagen{
        max-width: 100px;
    }
}