%flex {
    display:flex;
    justify-content:center;
}
%flexs{
    display:flex;
    justify-content: center;
    align-items: end;
}
%flexco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}