@mixin position($positions) {
    position: $positions;
}
@mixin box($padding, $margin, $height, $width) {
    padding: $padding;
    margin: $margin;
    height: $height;
    width: $width;
}
@mixin texto ($font, $font-size, $textd, ){
    font-family: $font;
    font-size: $font-size;
    text-decoration: $textd;
}
@mixin flexs ($justify, $align, ){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}